version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace:cached
    network_mode: service:db # アプリから localhost:5432 でDBに接続可能にする

  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: wms
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: