version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspaces:cached # /workspace から /workspaces に修正
    # network_mode を削除し、dbに依存させる
    depends_on:
      - db
    # コンテナを落とさないための設定を追加
    tty: true
    stdin_open: true

  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: wms
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: