<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wms.mapper.ProductCustomMapper">
	<resultMap id="BaseResultMap" type="wms.model.Product">
		<id column="product_id" jdbcType="BIGINT" property="productId" />
		<result column="product_cd" jdbcType="VARCHAR"
			property="productCd" />
		<result column="product_name" jdbcType="VARCHAR"
			property="productName" />
		<result column="price" jdbcType="INTEGER" property="price" />
		<result column="cre_prg" jdbcType="VARCHAR" property="crePrg" />
		<result column="cre_time" jdbcType="TIMESTAMP"
			property="creTime" />
		<result column="upd_prg" jdbcType="VARCHAR" property="updPrg" />
		<result column="upd_time" jdbcType="TIMESTAMP"
			property="updTime" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
	</resultMap>
	<sql id="Base_Column_List">
		product_id, product_cd, product_name, price, cre_prg,
		cre_time,
		upd_prg, upd_time,
		remark
	</sql>

	<select id="selectByProductCd" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM products
		WHERE product_cd = #{productCd}
	</select>

</mapper>
